body {
  margin: 0;
  background: #0a0a0f;
  font-family: Arial, sans-serif;
  color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.03);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
}

nav a {
  color: #bbb;
  text-decoration: none;
  font-size: 15px;
}

.center {
  text-align: center;
  margin-top: 160px;
}

.card {
  background: rgba(255,255,255,0.06);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 15px auto;
}

.btn {
  background: #6a4df5;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}

input {
  width: 85%;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
  border: none;
}
